html[dir="rtl"] .page-wrapper {
    margin-right: 260px;
    margin-left: 0;
}

html[dir="rtl"] .menu-sidebar {
    left: unset;
    right: 0px;
}


html[dir="rtl"][data-layout='horizontal'] .page-wrapper {
    margin-right: 0 !important
}

html[dir="rtl"][data-sidebar-type="mini-sidebar"] .brand-logo {
    overflow: hidden;
}
html[dir="rtl"][data-sidebar-type="mini-sidebar"] .page-wrapper {
    margin-left: unset !important;
    margin-right: 80px !important;
}
html[dir="rtl"] .btn-group .right-btn {
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0pc;
}
html[dir="rtl"] .btn-group .left-btn {
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 1px;
}

@media (max-width: 1199px) {
    html[dir="rtl"] [data-sidebar-type="mini-sidebar"] .menu-sidebar {
        left: unset;
        right: -260px
    }

    html[dir="rtl"] .page-wrapper {
        margin-right: 0 !important;
    }

    html[dir="rtl"][data-sidebar-type="mini-sidebar"] .page-wrapper {
        margin-left: unset !important;
        margin-right: 0px !important;
    }
}

html[dir="rtl"] select:not([size]) {
    padding-left: 35px;
}



html[dir="rtl"] .megamenu {
    transform: translate(-95%, 40px) !important;
}

html[dir="rtl"] .translate {
    transform: translate(0px, 40px) !important;
}

html[dir="rtl"] .translate-lng{
    transform: translate(0px, 40px) !important;
}

html[dir="rtl"] table tr th,
html[dir="rtl"] table tr td {
    text-align: right;
}