/* tailwind-sidebar package override styles */
[data-slot='collapsible'] [data-slot='sidebar-menu-item'] [data-slot='sidebar-menu-button']:hover {
  background-color: transparent !important;
}

[data-slot='badge'] {
  font-size: x-small;
}
